
  <div class="row">
  	<div class="offset1 span8">
		<p>Los campos marcados con asterisco son obligatorios</p>
	</div>
  </div>
  
<%= render :partial => "shared/validation_errors", 
	:locals => {target: @contact_request}%>
<%= form_for :contact_request, 
	:url => contact_requests_path do |f| %>  
  <div class="row">
  	<div class="offset1 span3">
  		<%= f.label :name %>*
  		<%= f.text_field :name, :class => "input-block-level" %>	
	</div>
	<div class="span4">
  		<%= f.label :company %>
  		<%= f.text_field :company, :class => "input-block-level"  %>	
	</div>
  </div>

  <div class="row">
  	<div class="offset1 span2">
  		<%= f.label :phone %>
  		<%= f.text_field :phone, :class => "input-block-level" %>	
	</div>
	<div class="span5">
  		<%= f.label :email %>*
  		<%= f.text_field :email, :class => "input-block-level"  %>	
	</div>  	
  </div>
  
  <div class="row">
  	<div class="offset1 span7">
  		<%= f.label :comments %>*
  		<%= f.text_area :comments, :rows => 5, :class => "input-block-level" %>
  	</div>
  </div>
  
  <div class="row">
  	<div class="offset1 span7">
  		<%= f.label :privacy_policy %>
  		<textarea class="input-block-level" rows="5"><%=privacy_policy_helper%></textarea>
  		<%= f.label :accept_privacy_policy do %>
  			<%= f.check_box :accept_privacy_policy %>
  			<%= t(".accept_privacy_policy?")%>
  		<% end %>
  	</div>
  	
  </div>
  <div class="row">
  	  <div class="offset6 span2">  
		  <div class="actions">
		    <%= f.submit t(".send", :default => "enviar"), :class => "btn-block" %>
		  </div>
  	  </div>
  </div>
<% end %>
