<%= render :partial => "shared/validation_errors", 
	:locals => {target: @accommodation}%>

<%= form_for @accommodation, 
	:html => { :class => 'form-horizontal', :multipart => true } do |f| 
%>
	<%= render :partial => "form_name_section", 
	  	:locals => {f:f}
	%>
	<%= render :partial => "form_description_section", 
	  	:locals => {f:f}
	%>
	<%= render :partial => "form_contact_section", 
	  	:locals => {f:f}
	%>
	<%= render :partial => "form_location_section", 
	  	:locals => {f:f}
	%>
	
	<% if can? :manage, Accommodation %>
		<%= render :partial => "form_management_section", 
		  	:locals => {f:f}
		%>
	<% end %>
	
	<%= render :partial => "nested_rooms_section", 
	  	:locals => {f:f}
	%>
	
	<%= render :partial => "photos/nested_photos_section", 
	  	:locals => {f:f}
	%>
  
	<div class="form-actions">
		<%= f.submit nil, :class => 'btn btn-primary' %>
		<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	        accommodations_path, :class => 'btn' %>
	</div>
<% end %>
