<div class="location-section">
	<fieldset>
	  <legend class="foldable"><%=t ".location_fields" %></legend>
	  <div class="control-group">
	    <%= f.label :province_id, :class => 'control-label' %>
	    <div class="controls">
	        <%= select nil, nil, 
	        	@countries.map{|m|[m.name, m.id]}, 
	        	:class => 'input-block-level' 
	        %>
	        <%= f.select :province_id, 
	        	@provinces.map{|p|[p.name, p.id]}, 
	        	:class => 'input-block-level' %>
	    </div>
	  </div>
	 
	  <div class="control-group">
	    <%= f.label :city, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :city, :class => 'text_field' %>
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <%= f.label :address, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :address, :class => 'text_field' %>
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <%= f.label :postal_code, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.number_field :postal_code, :class => 'number_field' %>
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <%= f.label :latitude, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.number_field :latitude, :class => 'number_field' %>
	    </div>
	  </div>
	
	  <div class="control-group">
	    <%= f.label :longitude, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.number_field :longitude, :class => 'number_field' %>
	    </div>
	  </div>

	  <div class="gmaps-errors-output"></div>
	  <div class="location-map">
	    <%= gmaps(
		    	:markers => {
		    		:data => @accommodation.to_gmaps4rails, 
		    		:options => {draggable: true}
		    		},
		    	:map_options => { :auto_zoom => false, :zoom => 16}
	    	)
	    %>
	  </div>
	</fieldset>
</div>