<div class="name-section">
	<fieldset>
	  <legend class="foldable"><%=t ".identification_fields"%></legend>
	  <div class="control-group">
	    <%= f.label :name, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :name, :class => 'text_field' %>
	    </div>
	  </div>
	
	  <div class="control-group">
	    <%= f.label :category_id, :class => 'control-label' %>
	    <div class="controls">
	      <%
	      	parent_category = nil 
	      	parent_category = @accommodation.category.parent_id unless @accommodation.category_id.nil? 
	      %>
	      <%= select_tag nil, 
	      	options_for_select(@top_categories.map{|c| [c.name, c.id]}, parent_category), 
	      	:id => "toplevel-categories" %>
	      <%= f.select :category_id, @sibling_categories.map{|c| [c.name, c.id]} %>
	    </div>
	  </div>
	</fieldset>
</div>