<%= set_content_for :databox_header do %>
	<%= t(".location")%>
<% end %>

<div class="google-map">
<%= gmaps(
    	:markers => {
    		:data => accommodation.to_gmaps4rails, 
    		:options => {draggable: false}
    		},
    	:map_options => { :auto_zoom => false, :zoom => 16}
	  )
%>
</div>
<section class="contact-data">
	<h2><%= t(".contact_data")%></h2>
	<section>
		<p>
			<label><%=t '.phone'%>:</label>
			<span class="value"><%= accommodation.phone %></span>
		</p>
		<p>
			<label><%=t '.email'%>:</label>
			<span class="value">
				<%= link_to accommodation.email,
					"mailto://#{@accommodation.email}" %>
			</span>
		</p>
		<p class="">
			<label><%=t '.web'%>:</label>
			<span class="value">
				<%= link_to accommodation.web, 
					accommodation.web %>
			</span>
		</p>

		<label class="vertical"><%= accommodation.name %></label>
		<span class="value">
		<%= accommodation.address%></br>
		<%= accommodation.postal_code%></br>
		<%= "#{accommodation.city} (#{accommodation.province.name})" %>
		<span class="value">				
	</section>
</section>
