  <% set_content_for :databox_header do %>
  	<%=t '.management' %>
  <% end %>

<div class="accommodation-manager-menu">
  <%= link_to(t('.edit', 
  	:default => t("helpers.links.edit")),
    edit_accommodation_path(accommodation), 
    :class => 'btn btn-mini btn-block'
    ) if can? :edit, accommodation
  %>
  <%= link_to(t('.destroy', :default => t("helpers.links.destroy")),
              accommodation_path(accommodation),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-mini btn-danger btn-block'
      ) if can? :destroy, accommodation %>
      
  <%= link_to(t('.add_room'),
              new_accommodation_room_type_path(accommodation),
              :class => "btn btn-mini btn-block"
      ) if can? :edit, accommodation %>
      
  <%= link_to(t('.manage_rooms'),
              accommodation_room_types_path(accommodation),
              :class => "btn btn-mini btn-block"
      ) if can? :edit, accommodation %>
      
  <%= link_to(t('.new_offer'),
              new_accommodation_offer_path(accommodation),
              :class => "btn btn-mini btn-block"
      ) if can? :edit, accommodation %>
      
  <%= link_to(t('.manage_offers'),
              accommodation_offers_path(accommodation),
              :class => "btn btn-mini btn-block"
      ) if can? :edit, accommodation %>
</div>
