<%= content_for :view_title do %>
	<%= t('.featured_this_week', :default => "Esta semana te recomendamos") %>
<% end %>

<section class="home">
	<div class="row">
		<% @accommodations.each_with_index { |accommodation, index| %>
			<div class="span3">
				<%= render :partial => "accommodation_card", 
					:locals => {accommodation:accommodation}
				%>
			</div>
			<% if index % 4 == 3 %>
				<div class="span12 linea-abajo"></div>
			<% end %>
		<% } %>
	</div>
	<div class="row">
		<div class="span5">
			<%= accommodations_search_box public_index_accommodations_path %>
		</div>
		<div class="span4">
			<div class="use-global-map">
			<%= link_to(
						image_tag("use-global-map.png", :alt => "Use global map"),
						global_map_accommodations_path
						)
			%>
			</div>
		</div>
		<div class="span3">
			<div class="present">
			<%= link_to(
					image_tag("offers-present.png", :alt => "Give a present"),
					public_index_offers_path
				)
			%>
			</div>
		</div>
	</div>
</section>
