<%= content_for :view_title do %>
	<%= t('.accommodations', :default => "Alojamientos") %>
<% end %>

<section class="accommodations-public-index">
	<div class="row">
		<% @accommodations.each_with_index { |accommodation, index| %>
			<div class="span3">
				<%= render :partial => "accommodation_card", 
					:locals => {accommodation:accommodation}
				%>
			</div>
			<% if index % 3 == 2 %>
				<div class="span9 linea-abajo"></div>
			<% end %>
		<% } %>
	</div>
</section>

<%= content_for :bar do %>
	<%= accommodations_search_box public_index_accommodations_path %>
	<%= category_navigator %>
<% end %>
