<%- model_class = Accommodation -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class="row">
	<div class="span9">
		<dl class="dl-horizontal">
		  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
		  <dd><%= @accommodation.name %></dd>
		  <dt><strong><%= model_class.human_attribute_name(:brief_description) %>:</strong></dt>
		  <dd><%= @accommodation.brief_description %></dd>
		  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
		  <dd><%= @accommodation.description %></dd>
		  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
		  <dd><%= @accommodation.phone %></dd>  
		  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
		  <dd><%= link_to @accommodation.email, "mailto://#{@accommodation.email}" %></dd> 
		  <dt><strong><%= model_class.human_attribute_name(:web) %>:</strong></dt>
		  <dd><%= link_to @accommodation.web, @accommodation.web %></dd>  
		  <dt><strong><%= model_class.human_attribute_name(:province) %>:</strong></dt>
		  <dd><%= @accommodation.province.name %></dd>
		  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
		  <dd><%= @accommodation.city %></dd>
		  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
		  <dd><%= @accommodation.address %></dd>
		  <dt><strong><%= model_class.human_attribute_name(:postal_code) %>:</strong></dt>
		  <dd><%= @accommodation.postal_code %></dd>
		  <dt><strong><%= model_class.human_attribute_name(:featured) %>:</strong></dt>
		  <dd><%= @accommodation.featured %></dd>
		  <dt><strong><%= model_class.human_attribute_name(:published) %>:</strong></dt>
		  <dd><%= @accommodation.published %></dd>
		  <dt><strong><%= model_class.human_attribute_name(:category) %>:</strong></dt>
		  <dd><%= link_to @accommodation.category.name, category_path(@accommodation.category_id) %></dd>
		  <dt><strong><%= model_class.human_attribute_name(:landlord) %>:</strong></dt>
		  <dd><%= link_to @accommodation.landlord.full_name, user_path(@accommodation.landlord_id) %></dd>
		  <dt><strong><%= model_class.human_attribute_name(:rooms) %>:</strong></dt>
		  <dd><%= link_to t(".see"), accommodation_room_types_path(@accommodation) %></dd>
		  <dt><strong><%= model_class.human_attribute_name(:photos) %>:</strong></dt>
		  <dd><%= link_to t(".see"), photos_path(:accommodation_id => @accommodation.id) %></dd>
		  <dt><strong><%= model_class.human_attribute_name(:offers) %>:</strong></dt>
		  <dd><%= link_to t(".see"), accommodation_offers_path(:accommodation_id => @accommodation.id) %></dd>
		  <dt><strong><%= model_class.human_attribute_name(:map) %>:</strong></dt>
		  <dd><%= gmaps(
			    	:markers => {
			    		:data => @accommodation.to_gmaps4rails, 
			    		:options => {draggable: false}
			    		},
			    	:map_options => { :auto_zoom => false, :zoom => 16}
	    		  )
	    	%>
	      </dd>
		</dl>
	</div>
</div>


<div class="row">
	<div class="span9">
		<div class="form-actions">
		  <%= link_to t('.back', :default => t("helpers.links.back")),
		              accommodations_path, :class => 'btn'  %>
		  <%= link_to t('.edit', :default => t("helpers.links.edit")),
		              edit_accommodation_path(@accommodation), :class => 'btn' %>
		  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
		              accommodation_path(@accommodation),
		              :method => 'delete',
		              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
		              :class => 'btn btn-danger' %>
		</div>
	</div>
</div>
