<%= content_for :view_title do %>
	<%= @accommodation.name %>
<% end %>

<article class="accommodation-detail">
	<header>
		<h1 class="hidden"><%= @accommodation.name %></h1>
		<div class="city">
			<%= @accommodation.city %>
			(<%= @accommodation.province.name %>)
		</div>
		<div class="type">
			<span class="parent-type" >
				<%= @accommodation.parent_category.name %>
			</span>
			<span>
				<%= @accommodation.category.name %>
			</span>
		</div>
	</header>
	<section class="main-photo">
		<%= image_tag @accommodation.main_photo(:detail) %>
	</section>
	<section class="photos">
		<% @accommodation.photos.each{ |photo| %>
			<%= image_tag photo.image.url(:thumbnail)%>
		<% } unless @accommodation.photos.empty? %>
	</section>
	<section class="summary">
		<h2><%= @accommodation.slogan %></h2>
		<%= simple_format @accommodation.brief_description %>
	</section>
	<section class="description">
		<h2><%= t '.description' %></h2>
		<%= simple_format @accommodation.description %>
		<h2><%=t '.rooms'%></h2>
		<%= simple_format @accommodation.rooms_description %>
		<% @accommodation.room_types.each { |room_type| %>
			<%= render :partial => "room_types/room_type_card",
				:locals => {room_type: room_type}%>
		<% } %>
	</section>
</article>

<% content_for :bar do %>
	<% if can? :manage, @accommodation %>
		<%= render :layout => "shared/data_box", 
			:partial => "show_management_menu" %>
	<% end %>

	<%= render :partial => "show_location",  
			:layout => "shared/data_box",
		 	:locals => {accommodation: @accommodation}
	%>	

	<%= render :partial => "shared/send_request" %>
	
	<%= render :partial => "accommodation_offers",
		:locals => {accommodation: @accommodation} %>
<% end %>
