<% set_content_for :databox_header do %>
	<%= t('.manager menu') %>
<% end %>

<nav>
	<ul class="nav nav-pills nav-stacked">
		<li class="<%= 'active' if params[:controller] == 'config_values' %>">
			<%= link_to t(".configuration"), config_values_path %>
		</li>
		<li class="<%= 'active' if (params[:controller] == 'accommodations' and
			params['action'] == 'index' ) %>">
			<%= link_to t(".accommodations"), accommodations_path %>
		</li>
		<li class="<%= 'active' if (params[:controller] == 'accommodations' and 
			params['action'] == 'global_map') %>">
			<%= link_to t(".map"), global_map_accommodations_path %>
		</li>
		<li class="<%= 'active' if params[:controller] == 'offers' %>">
			<%= link_to t(".offers"), public_index_offers_path %>
		</li>
		<li class="<%= 'active' if params[:controller] == 'users' %>">
			<%= link_to t(".users"), users_path %>
		</li>
		<li class="<%= 'active' if params[:controller] == 'categories' %>">
			<%= link_to t(".categories"), categories_path %>
		</li>
	</ul>
</nav>
