<%= render :partial => "shared/validation_errors", :locals => {target: @room_type}%>
<%= form_for [@accommodation, @room_type], 
	:html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <%= f.hidden_field :accommodation_id %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :brief_description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :brief_description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :characteristics, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :characteristics, :class => 'text_area' %>
    </div>
  </div>


  <div class="control-group">
    <%= f.label :accommodation, :class => 'control-label' %>
    <div class="controls">
      <div class="uneditable-input"><%= @room_type.accommodation.name %></div>
    </div>
  </div>

  <%= render :partial => "photos/nested_photos_section", 
    :locals => {f:f}
  %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                accommodation_room_types_path, :class => 'btn' %>
  </div>
<% end %>
