<%- model_class = RoomType -%>

<article class="room-type">
	<% content_for :view_title do %>
		<%= @room_type.name %>
	<% end %>	
	<%= render :partial => "shared/photos",
		:locals => {image_owner: @room_type} 
	%>
	<section class="summary">
		<%= simple_format @room_type.brief_description %>
	</section>
	<section class="description">
		<h2><%= t '.description' %></h2>
		<%= simple_format @room_type.description %>
		<h2><%=t '.characteristics'%></h2>
		<%= simple_format @room_type.characteristics %>
	</section>
</article>

<% content_for :bar do %>

	<% if can? :update, @room_type %>
		<% render :layout => "shared/data_box",
				:locals => { header: t( ".management_menu") } do %>
			  <%= link_to t('.edit', :default => t("helpers.links.edit")),
			      edit_accommodation_room_type_path(@accommodation, @room_type), :class => 'btn' %>
			  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
			      accommodation_room_type_path(@accommodation, @room_type),
			      :method => 'delete',
			      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
			      :class => 'btn btn-danger' %>
		<% end %>
	<% end %>

	<%= render :layout => "shared/data_box",
		:locals => {header: t(".location")} do %>
		<p>
			<label><%= @accommodation.name %></label>
		</p>
		<p>
			<label><%=t '.phone'%>:</label>
			<span class="value"><%= @accommodation.phone %></span>
		</p>
		<p>
			<label><%=t '.email'%>:</label>
			<span class="value">
				<%= link_to @accommodation.email,
					"mailto://#{@accommodation.email}" %>
			</span>
		</p>
		<p class="">
			<label><%=t '.web'%>:</label>
			<span class="value">
				<%= link_to @accommodation.web, 
					@accommodation.web %>
			</span>
		</p>
		
	<% end %>
	
	<div class="back">
		<%= link_to t('.back_to_accommodation', :default => "Volver al alojamiento"),
			accommodation_path(@accommodation), :class => 'bar-btn'  %>
	</div>
	
	<%= render :partial => "shared/send_request" %>
	<%= render :partial => "accommodations/accommodation_offers",
		:layout => "shared/data_box",		
		:locals => {accommodation: @accommodation} %>

<% end %>
