<article class="micro-offer-card">
	<%= image_tag offer.main_photo(:micro) %>
	<h1><%= offer.name %></h1>
	<p class="from">
		<%=t '.from' %>
		<%= offer.price %>€
		(<%=t '.vat_included' %>)
	</p>
</article>
