<article class="offer-card">
		<div class="image">
			<%= image_tag offer.main_photo(:thumbnail), :alt => offer.name %>
		</div>
		<div class="data">
			<h1><%= link_to offer.name, accommodation_offer_path(offer.accommodation.id, offer.id) %></h1>
			<p class="summary"><%= simple_format offer.summary %></p>
			<p class="accommodation">
				<%= link_to offer.accommodation.name, accommodation_path(offer.accommodation_id) %>
			</p>
		</div>
	
		<div class="price">
			<p class="from"><%= t(".from") %></p>
			<p class="quantity"><%= offer.price %>€</p>
			<p class="vat"><%= t(".vat_included") %></p>
			<p class="more"><%= 
				link_to t(".more_info"), 
					accommodation_offer_path(offer.accommodation_id, offer.id),
					:class => "btn btn-mini"
				%>
			</p>
		</div>
</article>
