<section class="public-offers">
	<header class="page-header">
	  <h1><%=t '.unrepeatable_offers' %></h1>
	</header>
	<section class="offers">
		<div class="row">
		<% @offers.each{ |offer| %>
			<div class="span9">
				<%= render :partial => "offer_card", :locals => {offer:offer} %>
			</div>
		<% } %>
		</div>
	</section>
</section>

<% content_for :bar do %>
	<div class="search-box">
		<%= form_tag public_index_offers_path do %>
			<div>
				<%= text_field_tag :name_contains, 
					nil,
					:placeholder => t(".text_to_search"), 
					:class => "input-block-level" %>
			</div>
			<div>
				<%= select_tag :province_id,
					options_for_select(@provinces.map{|p|[p.name, p.id]})
				%>
			</div>
			<div>
				<%= submit_tag t(".search_offers"), 
					:class => "btn-block" %>
			</div>
		<% end %>
	</div>
<% end %>
