<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @offer.name %>
</p>

<p>
  <b>Summary:</b>
  <%= @offer.summary %>
</p>

<p>
  <b>Description:</b>
  <%= @offer.description %>
</p>

<p>
  <b>Price:</b>
  <%= @offer.price %>
</p>

<p>
  <b>Accommodation:</b>
  <%= @offer.accommodation_id %>
</p>


<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
