<%= render :partial => "shared/validation_errors", :locals => {target: @category}%>

<%= form_for @category, 
	:html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <%= f.hidden_field :parent_id%>
  
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  
  <% unless f.object.icon.nil? %>
  <div class="control-group">
    <%= f.label :icon, :class => 'control-label' %>
    <div class="controls">
    	<%= image_tag f.object.icon.url(:icon)  %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :icon, 
    	t(".change_icon"),
    	:class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :icon %>
    </div>
  </div>
  <% else %>
  <div class="control-group">
    <%= f.label :icon, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :icon %>
    </div>
  </div>
  <% end %>
  
  <% unless @category.parent_id.blank? %>
  <div class="control-group">
    <%= f.label :parent, :class => 'control-label' %>
    <div class="controls">
      <div class="uneditable-input"><%= @category.parent.name %></div>
    </div>
  </div>  
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                categories_path, :class => 'btn' %>
  </div>
<% end %>
