<%- model_class = Category -%>
<% content_for :view_title do %>
	<%=t '.title', :default => model_class.model_name.human.pluralize %>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:icon) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:parent_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
		<%= render :partial => "categories/table_line",
			:locals => {category: category} %>
		<%= render :partial => "categories/subcategories",
			:locals => {subcategories: category.children}
		%>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_category_path,
            :class => 'btn btn-primary' %>
